asgiref==3.3.1
Django==3.1.4
django-ckeditor==6.0.0
django-environ==0.4.5
django-filter==2.4.0
django-js-asset==1.2.2
djangorestframework==3.12.2
Markdown==3.3.3
mysqlclient @ file:///D:/Projects/Recruiter%20API/mysqlclient-1.4.6-cp39-cp39-win_amd64.whl
Pillow==8.0.1
psycopg2==2.8.6
pytz==2020.5
sqlparse==0.4.1
